<a class="go-back" href="/">&lt;back</a>

<div class="flex-container">
  <div class="color-board scrollbar">
    <div>
      <label for="main">主要背景色</label>
      <input class="color-picker" type="color" id="main" value="#ffffff">
    </div>
    <div>
      <label for="main-content">主要文字顏色</label>
      <input class="color-picker" type="color" id="main-content" value="#000000">
    </div>
    <div>
      <label for="sidebar">側邊欄背景色</label>
      <input class="color-picker" type="color" id="sidebar" value="#2222aa">
    </div>
    <div>
      <label for="sidebar-content">側邊欄文字顏色</label>
      <input class="color-picker" type="color" id="sidebar-content" value="#ffffff">
    </div>
    <div>
      <label for="card">產品卡片顏色</label>
      <input class="color-picker" type="color" id="card" value="#0088ff">
    </div>
    <div>
      <label for="card-content">產品卡片文字顏色</label>
      <input class="color-picker" type="color" id="card-content" value="#ffffff">
    </div>
    <div>
      <button class="original-color">原廠配色</button>
      <a class="customized" href="/">設定完成</a>
    </div>
  </div>



  {{!-- 預覽 preview --}}
  <div  class="preview-area scrollbar">
    <div class="preview-screen">
      <div class="preview-sidebar">
        <div>&#9881;</div>
        <div>
          <div>text</div>
          <div>text</div>
          <div>text</div>
          <div>text</div>
          <div>text</div>
        </div>
        <div>
          <div class="preview-btn"></div>
          <div class="preview-btn"></div>
        </div>
      </div>
      <div class="preview-background">
        <div class="preview-card">
          <div class="preview-gapc"></div>
          <div class="preview-gap-r-t"></div>
          <div class="preview-gap-r-c"></div>
          <div class="preview-gap-r-b"></div>
        </div>
      </div>
    </div>

    <div class="preview-screen">
      <div class="preview-sidebar"></div>
      <div class="preview-background"></div>
      <div class="preview-window-background">
        <div class="preview-panel">
          <div class="preview-panel-title">text text text</div>
          <div class="flex-container">
            <div>
              <div class="preview-num">0</div>
              <div class="preview-numboard"></div>
            </div>
            <div class="preview-info">
              <div>text text text</div>
              <div>
                <div>text text</div>
                <div>text text</div>
                <div>text text</div>
              </div>
              <div class="preview-order-btn">text</div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



<script src="/javascript/customColor.js"></script>